body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #ff6f91;
  color: white;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  color: white;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: white;
  color: #ff6f91;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
button {
  background: #ff6f91;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #ff3f6c;
}

/* CARDS */
.preview {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 20px;
  width: 200px;
  box-shadow: 0 4px 10px gray;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #ff6f91;
  color: white;
  margin-top: 30px;
}